language: r
dist: trusty
sudo: true
os: linux
cache:
  directories:
    - $HOME/R/Library
install:
- source <(curl -sSL https://raw.githubusercontent.com/dynverse/travis_scripts/master/helper.sh)
- set -e
- install_cran remotes
- source helper.sh
script:
- install_github_withdeps dynverse/dyneval dynverse/dyno dynverse/dynwrap dynverse/dyntoy dynverse/dynutils dynverse/dynplot
after_success:
- travis cache
jobs:
  include:
  - stage: tidyverse
    script:
    - install_cran tidyverse
  - stage: dynutils
    script:
    - install_github_withdeps dynverse/dynutils
  - stage: dynverse
    script:
    - install_github_withdeps dynverse/dyneval dynverse/dyno dynverse/dynwrap dynverse/dyntoy dynverse/dynutils dynverse/dynplot
    - upload_tar 
