language: r
dist: trusty
sudo: true
os: linux
cache:
  directories:
    - $HOME/R/Library
install:
- source <(curl -sSL https://raw.githubusercontent.com/dynverse/travis_scripts/master/helper.sh)
- set -e
- install_cran remotes
- source helper.sh
script:
- install_github_withdeps dynverse/dyneval dynverse/dyno dynverse/dynwrap dynverse/dyntoy dynverse/dynutils dynverse/dynplot
jobs:
  include:
  - stage: tidyverse
    script:
    - install_cran tidyverse
  - stage: dynutils
    script:
    - install_github_withdeps dynverse/dynutils
  - stage: dynverse
    script:
    - DYNVERSE_BRANCH=master
    - install_github_withdeps dynverse/dyneval@${DYNVERSE_BRANCH} dynverse/dyno@${DYNVERSE_BRANCH} dynverse/dynwrap@${DYNVERSE_BRANCH} dynverse/dyntoy@${DYNVERSE_BRANCH} dynverse/dynutils@${DYNVERSE_BRANCH} dynverse/dynplot@${DYNVERSE_BRANCH}
    - upload_tar
  - stage: dynverse
    script:
    - DYNVERSE_BRANCH=devel
    - install_github_withdeps dynverse/dyneval@${DYNVERSE_BRANCH} dynverse/dyno@${DYNVERSE_BRANCH} dynverse/dynwrap@${DYNVERSE_BRANCH} dynverse/dyntoy@${DYNVERSE_BRANCH} dynverse/dynutils@${DYNVERSE_BRANCH} dynverse/dynplot@${DYNVERSE_BRANCH}
    - upload_tar
